In [7]:
import pandas as pd

In [8]:
hex_file= pd.read_csv(r"D:\suhas\Projects\Test_bench_assy\Engine Renaming\test data\ENGINE_NUMBER(220127_230933).csv")

In [9]:
hex_file.head(5)

   Unnamed: 0 Unnamed: 1     EG1     EG2     EG3     EG4
0         NaN        NaN     NaN     NaN     NaN     NaN
1         NaN        NaN     NaN     NaN     NaN     NaN
2  2022/01/27   23:09:33  3541.0  3939.0  3038.0  3038.0

In [10]:
#data retrevial 
hex_value = hex_file.iloc[2,2:]
#print(hex_value)

#data conversion int to str
hex_df = hex_value.astype(int)
hex_df = hex_df.astype(str)
#print(b)
hex_list = hex_df.tolist()
print(hex_list)

['3541', '3939', '3038', '3038']

In [11]:
## Number reversing in list
value = []
for i in hex_list:
    back = str(int(i)%100)
    #print(back)
    front = str(int(int(i)/100))
    #print(front)
    final = back+front
    #print(final)
    value.append(final)

print(value)

['4135', '3939', '3830', '3830']

In [12]:
#data join

hex_string = ' '.join(map(str, value)) #value.to_string(index = False)
print(hex_string)

#hex to string

engine_no = bytes.fromhex(hex_string)
engine_no = engine_no.decode("ascii")
print(engine_no)

4135 3939 3830 3830
A5998080

In [18]:
def eng_data():
    
    hex_file= pd.read_csv(r"D:\suhas\Projects\Test_bench_assy\Engine Renaming\test data\ENGINE_NUMBER(220127_230933).csv") 
    hex_file.head(5)
    
    #data retrevial 
    hex_value = hex_file.iloc[2,2:]
    #print(hex_value)

    #data conversion int to str
    hex_df = hex_value.astype(int)
    hex_df = hex_df.astype(str)
 
    hex_list = hex_df.tolist()
    print(hex_list)

    ## Number reversing in list
    value = []
    for i in hex_list:
        back = str(int(i)%100)
        #print(back)
        front = str(int(int(i)/100))
        #print(front)
        final = back+front
        #print(final)
        value.append(final)

    print(value)
    
    #data join

    hex_string = ' '.join(map(str, value)) #value.to_string(index = False)
    print(hex_string)

    #hex to string

    engine_no = bytes.fromhex(hex_string)
    engine_no = engine_no.decode("ascii")
    print(engine_no)
    
    return (engine_no)

In [23]:
eng_data()

['3541', '3939', '3038', '3038']
['4135', '3939', '3830', '3830']
4135 3939 3830 3830
A5998080

'A5998080'