In [ ]:
#test
hexstring = "34 3651"
a_string = bytes.fromhex(hexstring)
a_string = a_string.decode("ascii")
print(a_string)

In [2]:
import pandas as pd

In [29]:
hex_file= pd.read_csv(r"D:\suhas\Projects\Test_bench_assy\Engine Renaming\test data\ENGINE_NUMBER(220127_230933).csv")

In [30]:
hex_file.head(5)

   Unnamed: 0 Unnamed: 1     EG1     EG2     EG3     EG4
0         NaN        NaN     NaN     NaN     NaN     NaN
1         NaN        NaN     NaN     NaN     NaN     NaN
2  2022/01/27   23:09:33  3541.0  3939.0  3038.0  3038.0

In [31]:
#data retrevial 
hex_value = hex_file.iloc[2,2:]
print(hex_value)

#data conversion int to str
b= hex_value.astype(int)
b = b.astype(str)
print(b)

#data join
bstr = b.to_string(index = False)#' '.join(map(str, b))
print(bstr)

EG1    3541
EG2    3939
EG3    3038
EG4    3038
Name: 2, dtype: object
3541
3939
3038
3038

In [32]:
#hex to string
#a = "3541393930383038"
a_string = bytes.fromhex(bstr)
a_string = a_string.decode("ascii")
print(a_string)

5A990808